@import url("reset.css");


/* основні стилі */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	background: #fff;
	font-size: 20px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 75rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

[class*="--margin"] {
	margin-bottom: 0.9375rem;
}

.page {
	padding: 30px;
}


/* ----------------------- */

header,
footer,
.main__title {
	min-height: 50px;
	background-color: rgb(153, 158, 156);
	text-align: center;
	font-size: 36px;
	padding: 10px;
}

header {
	margin-bottom: 10px;
}

/* ----------------------- */




input{
	min-height: 34px;
	max-width: 150px;
	padding: 5px 10px;
	border: 2px solid rgb(122, 121, 121);
	border-radius: 5px;
}
button{
	width: 150px;
	padding: 5px 10px;
	border: 2px solid rgb(122, 121, 121);
	border-radius: 5px;
	background-color: rgb(229, 225, 225);

}

button:hover {
	background-color: rgb(92, 90, 90);
	transition: background-color 0.5s;
}